arams {
    work_dir = "$PWD"
}

ppm3 = "${params.work_dir}/docker/charliecloud/ppm3"
anvil = "${params.work_dir}/docker/charliecloud/anvil"

profiles {
    standard {
	process.executor = 'local'
	charliecloud.enabled = true
    }
    cluster  {
        charliecloud.enabled = true // option to activate charliecloud
        process.executor = ''
        process.queue = '' // specify the queue (run sinfo)
        process.clusterOptions = "" // e.g. specify nodelist for SLURM
    }
}

process {
	withName:runANVIL_alpha {
    		container = anvil
	}
	withName:runANVIL_beta {
		container = anvil
	}
	withName:runPPM3_alpha {
		container = ppm3
	}
        withName:runPPM3_beta {
                container = ppm3
        }
}
